<template>
  <div class="wrap">
    <app-header></app-header>
    <main class="container">
      <h1>Demo Vue.js app</h1>
    </main>
  </div>
</template>

<script>
  import Header from './Header.vue';

  export default {
    name: 'about',
    components: {
      'app-header': Header
    },
    data() {
      return { };
    }
  };
</script>

<style scoped>
</style>
