<template>
  <header class="header">
    <div class="container">
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item"><router-link to="/home" class="header-nav__link">Home</router-link></li>
          <li class="header-nav__item"><router-link to="/about" class="header-nav__link">About</router-link></li>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
}
</script>

<style lang="scss">
.header {
  padding: 20px 0;
  background-color: #2c3e50;

  &-nav__list {
    margin: 0;
    padding: 0;
  }

  &-nav__item {
    display: inline-block;
    margin-right: 25px;
  }

  &-nav__link {
    color: #fff;
    font-size: 2rem;

    &.router-link-active {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.desktop {
  .header-nav__link:hover {
    color: #dfd0e5;
  }
}
</style>
