<template>
  <div class="wrap">
    <app-header></app-header>
    <tiles :posts="posts"></tiles>
  </div>
</template>

<script>
  import Header from './Header.vue';
  import Tiles from './Tile.vue';
  import data from '../mocks/tiles.json';


  export default {
    name: 'home',
    components: {
      'app-header': Header,
      'tiles': Tiles
    },
    data() {
      return {
        posts: [],
      };
    },
    mounted() {
      this.posts = data.tiles;
      this.$store.commit('savePosts', this.posts);
    }
  };
</script>

<style scoped>
</style>
