<template>
  <div class="wrap">
    <app-header></app-header>
    <div class="container">
      <h1>{{post.title}}</h1>
      <p>{{post.text}}</p>
    </div>
  </div>
</template>

<script>
  import Header from './Header.vue';


  export default {
    name: 'home',
    components: {
      'app-header': Header
    },
    data() {
      return {
        post: {},
      };
    },
    mounted() {
      const { posts } = this.$store.state;

      if (posts && posts.length) {
        this.post = posts.find(item => item.id === parseInt(this.$route.params.id)) || {};
      }
    }
  };
</script>

<style scoped>
</style>
