<template>
  <div class="container">
    <div class="tiles">
      <a class="tiles__item tile-item" v-for="post of posts" :class="'tile-item--' + post.type" :aria-label="post.title"
          :style="'background-image: url(/images/' + post.image + ')'" @click.prevent="goToPostPage(post)" href="#">
        <div class="tile-item__content">
          <p class="tile-item__title">{{post.title}}</p>
          <p class="tile-item__descr">{{post.description}}</p>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'tiles',
  data() {
    return {};
  },
  props: {
    posts: {
      type: Array,
      default: []
    }
  },
  methods: {
    goToPostPage(post) {
      this.$router.push({ name: 'post', params: {
        post,
        id: post.id
      } });
    }
  }
}
</script>

<style lang="scss">
.tiles {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;

  &__item {
    min-height: 100px;
    margin: 20px 0 0 20px;
    padding: 15px;
  }
}

.tile-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
  }


  &__content {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  &--normal {
    width: calc(100% / 3 - 20px);
    flex-basis: calc(100% / 3 - 20px);
  }

  &--double {
    width: calc(200% / 3 - 20px);
    flex-basis: calc(200% / 3 - 20px);
  }
}

@media
  screen and (min-device-width: 768px) and (max-device-width: 1024px),
  screen and (max-width: 1024px) {
    .tile-item--normal {
      width: calc(100% / 2 - 40px);
      flex-basis: calc(100% / 2 - 40px);
    }

    .tile-item--double {
      width: 100%;
      flex-basis: 100%;
    }
}

@media
  screen and (max-device-width: 767px),
  screen and (max-width: 767px) {
    .tile-item--normal {
      width: 100%;
      flex-basis: 100%;
    }

    .tile-item--double {
      width: 100%;
      flex-basis: 100%;
    }
}

.desktop {
  .tile-item:hover::after {
    background-color: rgba(68, 70, 75, 0.6);
    transition: background-color .2s;
  }
}
</style>
