<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'app'
}
</script>

<style lang="scss">
$black: #000;
$avenir: 'Avenir', Helvetica, Arial, sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body,
button {
  -webkit-font-smoothing: antialiased;
}

a {
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  margin: 0;
  font: 1.6rem / 1.5 $avenir;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 60px;

  @media
    screen and (min-device-width: 768px) and (max-device-width: 1024px),
    screen and (max-width: 1024px) {
    padding: 0 40px;
  }

  @media
    screen and (max-device-width: 767px),
    screen and (max-width: 767px) {
      padding: 0 20px;
  }
}

a:focus,
button:focus {
  outline: 1px dotted rgba($black, .5);
}

</style>
